<template>
  <div>
    a:
    <input type="number" v-model.number="a">
    <br>
    b:
    <input type="number" v-model.number="b">
    <button @click="plus">+</button>
    <button @click="minus">-</button>
    <div v-if="op != ''">
      {{a}} {{op}} {{b}} = {{c}}
    </div>
    <div v-for="v of vysledky">
      {{v}}
    </div>
  </div>
</template>

<script>
  //komponenta
  export default {
    data() {
      return {
        a: 0,
        b: 0,
        c: 0,
        op: '',
        vysledky: []
      }
    },
    methods: {
      plus() {
        this.op = '+';
        this.c = this.a + this.b;
        this.vysledky.push(this.c);
      },
      minus() {
        this.op = '-';
        this.c = this.a - this.b;
        this.vysledky.push(this.c);
      }
    }
  }
</script>