<template>
  <div>
    <h1>Login</h1>
    <b-form @submit.prevent="doLogin">
      <b-form-group label="Username:" label-for="login">
        <b-form-input
                type="text"
                id="login"
                v-model="login"
                required></b-form-input>
      </b-form-group>
      <b-form-group label="Password:" label-for="password">
        <b-form-input
                type="password"
                id="password"
                v-model="password"
                required></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Log in</b-button>
    </b-form>
    <router-link :to="{ name: 'register' }">
      Registrace
    </router-link>
  </div>
</template>

<script>
  export default {
    data() {
      return  {
        login: '',
        password: ''
      }
    },
    methods: {
      doLogin() {
        this.$http.post('api/login',
                // data posilane na server
                {
                  login: this.login,
                  password: this.password
                }
        ).then(
                // uspesne prihlaseni
                (response) => {
                  const token = response.data.token; // token prijaty ze serveru
                  localStorage.setItem('email', response.data.email);
                  localStorage.setItem('login', response.data.login);
                  localStorage.setItem('gender', response.data.gender);
                  localStorage.setItem('name', response.data.name);
                  localStorage.setItem('surname', response.data.surname);
                  localStorage.setItem('userId', response.data.userId);
                  localStorage.setItem('token', token); // ulozeni tokenu do prohlizece naporad, pak je mozne ho nacitat pomoci localStorage.getItem('token') pri kazdem nacteni aplikace a nastavovat ho do axiosu viz dalsi radek
                  this.$http.defaults.headers.common['Authorization'] = response.data.token; // ulozeni docasne dovnitr axiosu, bude pouzito pro vsechny pozadavky na server, po obnoveni stranky zmizi

                  // presmerovani na jinou stranku po uspesnem loginu
                  if (this.$route.params.nextUrl !== undefined) {
                      this.$router.push({ path: this.$route.params.nextUrl });
                  } else {
                      this.$router.push({ name: 'rooms' });
                  }
                }
        ).catch(
                // neuspech
                (error) => {
                  console.log(error);
                  alert("Check your credentials.");
                }
        );
      }
    }
  }
</script>
