<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="/">Chat</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">


                    <div v-if="isLoggedIn">
                        <b-nav-item-dropdown right>
                            <template slot="button-content">Uživatel</template>
                            <b-dropdown-item v-on:click="logout">Odhlásit</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </div>
                    <div v-else>
                        <b-button v-on:click="login">Přihlásit</b-button>
                    </div>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>
    export default {
        name: "NavBar",
        computed: {
            isLoggedIn: function () {
                const token = localStorage.getItem('token');
                return token !== null && token !== undefined;
            }
        },
        methods: {
            login: function () {
                this.$router.push({name: 'login'});
            },
            logout: function () {
                localStorage.removeItem('token');
                localStorage.removeItem('email');
                localStorage.removeItem('gender');
                localStorage.removeItem('surname');
                localStorage.removeItem('name');
                localStorage.removeItem('userId');
                localStorage.removeItem('login');
                window.location.reload();
            }
        }
    }
</script>

<style scoped>

</style>
