<template>
    <div>
        <h3>Vytvorit mistnost</h3>
        <form @submit.prevent="createRoom">
            Nazev mistnosti:
            <input v-model="name"> <br>
            <button>Vytvorit</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: "NewRoom",
        data() {
            return {
                name: ""
            }
        },
        methods: {
            createRoom() {
                this.$http.post('/api/auth/rooms', {
                    title: this.name
                }).then(() => {
                    this.name = "";
                    alert("Mistnost vytvorena");
                }).catch(() => {
                    alert("Chyba");
                })
            }
        }
    }
</script>

<style scoped>

</style>