<template>
  <div>
    <h1>Registrace</h1>
    
    <form @submit.prevent="register">
      <label>Login</label>
      <input type="text" v-model="login" required><br>
      <label>Heslo</label>
      <input type="password" v-model="password1" required><br>
      <label>Heslo kontrola</label>
      <input type="password" v-model="password2" required><br>
      <label>Jmeno</label>
      <input type="text" v-model="name" required><br>
      <label>Prijmeni</label>
      <input type="text" v-model="surname" required><br>
      <label>Email</label>
      <input type="email" v-model="email" required><br>
      <label>Pohlavi</label>
      <select v-model="gender" required>
        <option value="male">Muz</option>
        <option value="female">Zena</option>
      </select><br>
      <button type="submit">Zaregistrovat</button>
    </form>
    
    <router-link :to="{ name: 'login' }">
      Zpet
    </router-link>
  </div>
</template>

<script>
  export default {
    //jako data: function() {}
    data() {
      return {
        name: '',
        surname: '',
        email: '',
        password1: '',
        password2: '',
        gender: 'male',
        login: ''
      };
    },
    methods: {
      register() {
        if(this.password1 != this.password2) {
          alert('Hesla se neshoduji.');
          return;
        }
        this.$http.post('api/register', {
          name: this.name,
          surname: this.surname,
          login: this.login,
          password: this.password1,
          gender: this.gender,
          email: this.email
        }).then(() => {
          this.$router.push({ name: 'login' });
        }, () => {
          alert('Chyba registrace');
        });
      }
    }
  }
</script>
