<template>
  <div>
      <b-table
              striped
              hover
              selectable
              select-mode="single"
              selectedVariant="success"
              :items="rooms"
              :fields="fields"
              @row-selected="roomSelected">
          <template slot="lock" slot-scope="data">
              <b-button class="btn btn-success" v-if="data.item.lock == 'true'" @click="lockRoom(data.item.id_rooms)">unlock</b-button>
              <b-button class="btn btn-warning" v-else @click="lockRoom(data.item.id_rooms)">lock</b-button>
          </template>

      </b-table>
      <new-room></new-room>
  </div>
</template>

<script>
    import NewRoom from '@/components/NewRoom';

    export default {
        components: {NewRoom},
        data() {
            return {
                rooms: [],
                fields: [
                    {
                        key: 'title',
                        label: "Jméno"
                    },
                    {
                        key: 'lock',
                        label: 'Lock/Unlock',
                    },
                ],
            }
        },
        mounted() {
            this.loadRooms();
            this.reloader = setInterval(() => {
                this.loadRooms();
            }, 1000); // zavola metodu pro stazeni dat kazdou vterinu

        },
        methods: {
            lockRoom(idRoom) {
                this.$http.post('api/auth/lock-room/' + idRoom)
            },
            loadRooms() {
                this.$http.get('api/auth/rooms')
                    .then(response => {
                        this.rooms = response.data;
                    }).catch((e) => {
                        console.log(e);
                    });
            },
            roomSelected(row) {
                this.$router.push({ path: 'rooms/' + row[0].id_rooms });
            }
        }
    }
</script>
