<template>
    <b-container>
        <b-row class="m-1">
            <b-col cols="9">
                <h1>Místnost: {{roomName}}</h1>
            </b-col>
            <b-col cols="3" class="text-right">
                <button class="btn btn-danger" @click="redirectToRoomList">Exit</button>
            </b-col>
        </b-row>
        <b-row class="m-1">
            <b-col cols="9" class="pl-2 pr-2" id="messages">
                <div v-for="message in messages">
                    <b-row class="mt-2">
                        <b-col cols="3" v-if="message.id_users_to === null && message.id_users_from === loggedUserId"><b-badge variant="success" text-variant="white">Ty:</b-badge></b-col>
                        <b-col cols="3" v-else-if="message.id_users_to === loggedUserId"><b-badge variant="primary">{{message.login_from}} ti šeptá:</b-badge></b-col>
                        <b-col cols="3" v-else-if="message.id_users_from === loggedUserId && 'null' != message.id_users_to"><b-badge variant="success">šeptáš uživateli {{message.login_to}}:</b-badge></b-col>
                        <b-col cols="3" v-else><b-badge>{{message.login_from}}:</b-badge></b-col>
                        <b-col cols="8">
                            <b-card v-if="message.id_users_to === loggedUserId" bg-variant="primary" text-variant="white">{{message.message}}</b-card>
                            <b-card v-else-if="message.id_users_from === loggedUserId" bg-variant="success" text-variant="white">{{message.message}}</b-card>
                            <b-card v-else>{{message.message}}</b-card>
                        </b-col>
                    </b-row>
                </div>
            </b-col>
            <b-col cols="3">
                <b-table
                    selectable
                    select-mode="single"
                    selectedVariant="success"
                    :items="users"
                    :fields="fields"
                    @row-selected="userSelected">
                    <template slot="kick" slot-scope="data">
                        <b-button class="btn btn-warning" @click="kickUser(data.item.id_users)">kick</b-button>
                    </template>
                </b-table>

            </b-col>
        </b-row>
        <b-row class="mt-3">
            <b-col cols="9">
                <b-row class="ml-1">
                    <b-form class="w-100" inline @submit.prevent="sendMessage">
                            <b-form-input class="w-75 form-control mb-2 mr-sm-2 mb-sm-0" v-model="myMessage" placeholder="write something"></b-form-input>
                            <b-button class="w-auto btn btn-primary" type="submit">Send</b-button>
                    </b-form>
                </b-row>

            </b-col>
            <b-col cols="3">

            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    export default {
        name: "Room",
        data() {
            return {
                fields: [
                    {
                        key: 'login',
                        label: 'Online user:'
                    },
                    {
                        key: 'kick',
                        label: 'Kick'
                    }
                ],
                users: null,
                loggedUserKicked: false,
                roomId: null,
                messages: [],
                roomName : null,
                reloader: null,
                myMessage: null,
                idUserTo: null,
                loggedUserId: localStorage.getItem('userId')
            }
        },
        // po nacteni komponenty
        mounted() {
            const roomId = this.$route.params.id;
            this.roomId = roomId;

            this.$http.get('api/auth/rooms/' + roomId)
                .then(response => {
                    this.roomName = response.data.title
                })

            this.insertUserInRoom();
            this.getUsersInRoom();

            this.reloader = setInterval(() => {
                this.loadMessages()
                this.getUsersInRoom()
                this.isLoggedUserKicked()
                this.ifUserKickedRemove()
            }, 1000); // zavola metodu pro stazeni dat kazdou vterinu
        },
        // pred zrusenim komponenty
        beforeDestroy() {
            clearInterval(this.reloader);
            this.removeUserFromRoom();
        },
        methods: {
            ifUserKickedRemove() {
                if(this.loggedUserKicked) {
                    this.$http.post('api/auth/rooms/remove-user-from-room', {
                        "userId": localStorage.getItem('userId'),
                        "roomId": this.roomId
                    })
                    this.$router.push({ name: 'rooms' });
                }
            },
            isLoggedUserKicked() {
                this.$http.post('api/auth/is-user-kicked', {
                    "userId": localStorage.getItem('userId'),
                    "roomId": this.roomId
                }).then(response => {
                    if (response.data) {
                        this.loggedUserKicked = true;
                    }
                })
            },
            kickUser(row) {
                this.$http.post('api/auth/kick-user', {
                    "userId": localStorage.getItem('userId'),
                    "roomId": this.roomId
                })
            },
            userSelected(row) {
                if (row[0]) {
                    this.idUserTo = row[0].id_users;
                    console.log(row[0].id_users);
                } else {
                    this.idUserTo = null;
                }


            },
            redirectToRoomList() {
                this.$router.push({ name: 'rooms' });
            },
            getUsersInRoom() {
                this.$http.get('api/auth/get-users-in-room/' + this.roomId)
                    .then(response => {
                        this.users = response.data;
                    });
            },
            insertUserInRoom() {
                this.$http.post('api/auth/rooms/insert-user', {
                    "userId": localStorage.getItem('userId'),
                    "roomId": this.roomId
                })
            },
            removeUserFromRoom() {
                this.$http.post('api/auth/rooms/remove-user-from-room', {
                    "userId": localStorage.getItem('userId'),
                    "roomId": this.roomId
                })
            },
            loadMessages() {
                this.$http.get('api/auth/messages/' + this.roomId)
                    .then(response => {
                        this.messages = response.data
                    })
            },
            sendMessage() {
                this.$http.post('api/auth/messages/' + this.roomId,
                    {
                        "roomId": this.roomId,
                        "idUserFrom": this.loggedUserId,
                        "idUserTo": this.idUserTo,
                        "message": this.myMessage
                    })
            }
        }
    }
</script>

<style scoped>
    #messages {
        height: 600px;
        overflow-y: scroll;
        background-color: lightsteelblue;
    }
</style>
